*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   height: 100vh;

   background-image: url(https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   
   background-size: cover; /* Cobrir todo o elemento .all */
   background-position: center; /* Centralizar a imagem */
   
}

body *{
    font-family: 'Manrope', sans-serif;
}


:root{
    --white:#ffffff;
    
    --white-header:#f5e0e0e5;
    --black:#1a1919;
    --black-lighter:#1a1919b2;
    --box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.20);  
    --txt-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);;
    --gray:#c5c2c2;
    --gray-darker:#8f8c8c;

    --border-shadow-black: #000000;
    --border-txt-black:-1px -1px 0 var(--border-shadow-black), 1px -1px 0 var(--border-shadow-black), -1px 1px 0 var(--border-shadow-black), 1px 1px 0 var(--border-shadow-black);

    --border-shadow-white: #ffffff;
    --border-txt-white:-1px -1px 0 var(--border-shadow-white), 1px -1px 0 var(--border-shadow-white), -1px 1px 0 var(--border-shadow-white), 1px 1px 0 var(--border-shadow-white);
}

.Mobile{
    display: none;
}
.Desktop{
    display: block;
}





.all{
   margin-left: 20vw;
   margin-right: 20vw;
    
   
  
}


/*HEADER*/

.bi-cup-hot-fill{
    font-size: 30px;
    color:var(--black);
    opacity: 70%;
    
}


header{ 
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




header ul{/*lista*/
    list-style: none;
    display: flex;
    gap: 30px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    
    
}

header ul li.ativo{/*lista*/
    border-left: 2px solid red;
    padding-left: 2px; 
    
    transition: 0.2s;
    text-decoration: none;
    opacity: 100%;
    color: var(--black);
    
 }
 

header ul a{/*link lista*/
    color: var(--black-lighter);
    text-decoration: none;
}




.btn-pegar-desktop button, .btn-pegar-Mobile button{
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    color: var(--black);

    background-color: transparent;
    padding: 5px 30px;
    border-radius: 5px;
    outline:none;
    border: none;
    box-shadow: var(--box-shadow);
    opacity: 70%;

}

/*MAIN*/


main h1.Desktop{
    color: var(--black);
    opacity: 70%;
  
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    
    display: flex;
    justify-content: center;

    

    
}

main{
    margin-top: 10%;
}

#h1-desktop{
    text-shadow: var(--border-txt-black);
    color: var(--white);
}






/*MENU LATERAL*/


.menu-lateral ul{
    flex-direction: column;
    color: var(--white);
    
    
    transition: 0.2s;
    
    width: 60px;
    height: 90vh;
    
    padding: 1% 0px 0 60px ;

   
    overflow: hidden;
 
}
.menu-lateral ul.expandir{
    background-color: var(--black);
    width: 300px;
    transition: 0.5s;
    
}



.menu-lateral{
    
    position: absolute;
    z-index: 1;

    right: 0;
    top: 0;
    padding-top: 35px;/*icon menu*/

    transition: 0.3s;
    
   
    
}
.menu-lateral.expandir{
    background-color:var(--black);
  
    transition: 0.2s;
}



.bi-list{
    color: var(--gray-darker);
  
    transition: 0.5s;
}

.btn-exp{
    width: 100%;
    padding-left: 10px;
    transition: 0.5s;
}

.btn-exp > i{
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
}







/*HOVER*/

header ul a:hover,.btn-pegar-desktop button:hover, .btn-pegar-Mobile button:hover{
color: var(--black);
opacity: 1;
transition: 0.2s;
}
header ul a:not(hover), .btn-pegar-desktop button:not(hover), .btn-pegar-Mobile button:not(hover){
transition: 0.5s;
}

    
.btn-pegar-desktop button:hover, .btn-pegar-Mobile button:hover{
    transform: scale(1.1);
    transition:0.2s ;
}
.btn-pegar-desktop button:not(hover), .btn-pegar-Mobile button:not(hover){
    transition:0.2s ;
}





/*MOBILE*/
@media screen and (max-width:600px) {
    
  
    .Mobile{
        display: block;
    }

    .Desktop{
        display: none;
    }

    body{
        background-image: url(https://images.unsplash.com/photo-1541870730196-cd1efcbf5649?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    }

    .all{
        margin-left: 5vw;
        margin-right: 5vw;
       
     }
     header ul a{/*link lista*/
     
        color: var(--white);

    }

    header ul{/*lista*/
        gap: 40px;
        
    }

    header ul li.ativo{/*lista*/
       color: var(--white);
       transition: 0.2s;
       border-left: 1px solid red;
      
    }
    



    header ul a{/*lista*/
     
       
        color: var(--white-header);
        
     }
     
    
    header ul a{/*link lista*/
       
        text-decoration: none;
    }



    header {
        border-bottom: 1px solid var(--gray);
    }

    main{
        margin-top: 0;
    }

    main h1.Mobile{
        color: var(--black);
        opacity: 70%;
      
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        
        display: flex;
       text-align: center;

       padding-top: 20%;
       padding-bottom: 70%;
     
    }

    .btn-pegar-Mobile button{
        background-color: var(--white);
        display: flex;
        margin: auto;
        margin-top: 32px;
        text-decoration: none;
        padding: 10px 40px ;
        margin-bottom: 40px;

        font-size: 15px;
    
    }

    main h1.Desktop{
        font-size: 50px;
      
    }

    main a {
        text-decoration: none;
    }
    

    #h1-mobile{
     color: var(--white);
       
    }   
    
    #h1-desktop{
        text-shadow: var(--border-txt-white);
        color: var(--black);
    }
    




}
